@page "/eventhandling"

<h1>Event Handeling example</h1>
<hr />

<select class="form-control col-md-4" @onchange="SelectGender">
    <option value="">-- Select Gender --</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
</select>
<br />
<p>Selected Gender : @Gender </p>
<br />
<div>
    <button class="btn" @onclick="ButtonClicked">
        Click me
    </button>
</div>

@functions{

    string Gender { get; set; }

    void ButtonClicked(MouseEventArgs e)
    {
        string msg = "button clicked";
        Console.WriteLine(msg);
    }

    void SelectGender(ChangeEventArgs e)
    {
        Gender = e.Value.ToString();
    }
}