@page "/ParentComponent"
<h1>Parent-child example</h1>

<ChildComp>
    This is the content provided to the child by the parent.
    <p> The RenderFragment parameter is provided between the tags of the child component. </p>
</ChildComp>