@page "/callnetmethodfromjs"
@inherits CallNetMethodFromJSModel
<button type="button" class="btn btn-primary" @onclick="TriggerNetInstanceMethod">
    Trigger .NET instance method HelloHelper.SayHello
</button>
